.container {
    text-align: center;
    margin-top: 50px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-gestion {
    background-color: #007bff;
    color: #fff;
}

.btn-warning {
    background-color: #ffc107;
    color: #fff;
}

.btn:hover {
    background-color: #0056b3;
}

